@media (max-width: 1380px) {
    .intro__right {
        margin-left: 0;
    }

    .intro__title {
        font-size: 50px;
    }

    .intro__wrapper {
        padding-right: 21px;
            padding-bottom: 38px;
    }

    .benefits__circle-text {
        min-width: 129px;
    }

    .courses__btn {
        width: 63%;
    }

    .courses__wrapper-info {
        min-height: 303px;
    }
}

@media (max-width: 1024px) {

    .container__row {
        padding-left: 38px;
        padding-right: 19px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding-right: 25px;
    }

    .header__item {
        margin-right: 56px;
    }

    .header__item:last-child {
        margin-right: 0;
    }

    .header__nav {
        padding-left: 1px;
    }

    .burger {
        display: none;
    }

    .intro__right {
        padding-left: 21px;
        padding-right: 0;
    }

    .intro__wrapper {
        padding-right: 21px;
        padding-bottom: 132px;
    }

    .intro__title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 15px;
    }

    .intro__subtitle {
        max-width: 100%;
    }

    .intro__right {
        margin-left: 0;
        padding-top: 117px;
    }

    /* benefits */

    .benefits {
        padding-bottom: 75px;
    }

    .benefits__content {
        padding-left: 11px;
        padding-right: 0;
    }

    .benefits__wrapper-title,
    .benefits__wrapper-text {
        max-width: 100%;
    }

    .benefits__information {
        flex-direction: column;
        padding-right: 20px;
    }

    .benefits__wrapper {
        justify-content: space-between;
        padding-right: 2px;
    }

    .benefits__wrapper-first {
        padding-right: 0;
    }

    .benefits__circle {
        padding: 0;
    }

    .benefits__circle-text {
        min-width: 209px;
    }

    .benefits__image {
        padding-top: 19px;
    }

    .benefits__image img {
        width: 100%;
    }

    .benefits__circle-text {
        padding-top: 12px;
    }

    /* teachers */

    .teachers {
        padding-bottom: 54px;
    }

    .teachers__container {
        padding-right: 4px;
    }

    .teachers__card {
        margin-bottom: 20px;
    }

    .teachers__wrapper-title {
        margin-bottom: 25px;
    }

    /* courses */

    .courses__container {
        padding-right: 4px;
    }

    .courses__wrapper-info {
        min-height: 316px;
        padding-top: 33px;
        padding-right: 18px;
        padding-bottom: 27px;
    }

    .courses__card {
        margin-bottom: 30px;
    }

    .courses__time {
        top: 13px;
        right: 28px;
    }

    .courses__btn {
        width: 69%;
        padding-top: 21px;
    }

    .courses__container-title {
        margin-bottom: 25px;
    }

    .footer__list {
        padding-left: 42px;
    }

    .footer__copy-info {
        padding-top: 2px;
        padding-left: 18px;
    }

    .footer__list {
        padding-left: 33px;
    }
}

@media (max-width: 767px) {

    .container__row {
        padding-left: 35px;
        padding-right: 33px;
    }

    /* header */

    .header {
        display: block;
    }

    .header__logo {
        display: flex;
        margin-bottom: 34px;
        padding-left: 0px;
    }

    .burger {
        display: none;
    }

    .header__logo svg {
        margin: 0 auto;
    }

    .header__nav {
        display: block;
        padding-left: 18px;
        padding-right: 22px;
    }

    .header__item {
        margin-right: 26px;
    }

    .header {
        padding-bottom: 29px;
    }

    /* intro */

    .intro__right {
        display: none;
    }

    .intro__left-wrapper {
        padding-top: 78px;
    }

    .intro__subtitle {
        font-size: 18px;
        margin-bottom: 62px;
        max-width: 67%;
    }

    .intro__wrapper {
        padding-bottom: 135px;
    }

    /* courses */

    .courses {
        margin-bottom: 50px;
    }

    .courses__container {
        padding-right: 14px;
    }

    .courses__btn {
        width: 92%;
        padding: 19px 27px;
    }

    .courses__card {
        min-height: 653px;
        margin-bottom: 29px;
    }

    .courses__title-little {
        line-height: 23px;
    }

    .courses__container-title {
        margin-bottom: 24px;
        padding-left: 33px;
    }

    .courses__wrapper-info {
        min-height: 410px;
        padding-bottom: 32px;
    }

    .courses__subtitle {
        color: var(--grey);
    }

    /* benefits */

    .benefits {
        padding-bottom: 55px;
    }

    .benefits__image {
        padding-top: 0;
        display: block;
    }

    .benefits__content {
        padding-left: 19px;
    }

    .benefits__wrapper {
        padding-right: 12px;
        padding-left: 32px;
    }

    .benefits__wrapper-title {
        margin-bottom: 18px;
    }

    .benefits__circle-text {
        min-width: 154px;
    }

    .benefits__circle-text {
        padding-top: 10px;
    }

    .teachers {
        padding-bottom: 73px;
    }

    .teachers__picture img {
        width: 100%;
    }

    .teachers__container {
        padding-left: 29px;
        padding-right: 20px;
        margin-bottom: -23px;
    }

    .teachers__wrapper-title {
        margin-bottom: 23px;
        padding-left: 32px;
    }

    .teachers__picture {
        margin-bottom: 25px;
    }

    .teachers__card {
        padding-left: 15px;
        margin-bottom: 23px;
    }

    .footer__list {
        padding-left: 31px;
    }
}

@media (max-width: 575px) {
    .benefits__image {
        display: none;
    }

    .burger {
        display: none;
    }

    .teachers__picture {
        border-radius: 32px 32px 0px 0px;
        overflow: hidden;
    }
}

@media (max-width: 450px) {

    .container__row {
        padding-left: 15px;
        padding-right: 10px;
    }

    .title {
        font-size: 20px;
        line-height: 26px;
    }

    .subtitle {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .burger,
    .header__logo {
        display: inline-block;
        width: 21px;
        height: 18px;
        position: relative;
    }

    .btn {
        padding: 20px 44px;
    }

    .stop-scroll {
        overflow: hidden;
    }

    .burger {
        margin-left: auto;
        cursor: pointer;
    }

    .burger-line {
        transition: all 0.3s ease-in;
    }

    .burger-line {
        background-color: var(--white);
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        transition: all 0.3s ease-in;
    }

    .burger-line:first-child {
        top: 0;
    }

    .burger-line:last-child {
        bottom: 0;
        top: auto;
    }

    .burger:hover .burger-line {
        background-color: var(--pale-grey);
    }

    .burger:focus .burger-line {
        background-color: var(--pale-grey);
    }

    .burger:active .burger-line {
        background-color: var(--pale-grey);
    }

    .header {
        padding-right: 19px;
        display: flex;
    }

    .header__nav {
        visibility: hidden;
        position: absolute;
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        top: 80px;
        left: 0;
        width: 100vw;
        background-color: var(--white);
        height: 100vh;
        padding-top: 30px;
    }

    .header__nav--active {
        transform: translateX(0);
        visibility: visible;
    }

    .burger--active .burger-line:first-child {
        left: 0;
        top: 50%;
        transform: rotate(-45deg);
        transform-origin: center;
        transition: all 0.3s ease-in;
    }

    .burger--active .burger-line:last-child {
        right: 25%;
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: all 0.3s ease-in;
    }

    .burger--active .burger-line:nth-child(2) {
        opacity: 0;
    }

    .header__nav--active .header__list .header__item {
        margin-bottom: 30px;
    }

    .header__nav--active .header__list .header__item .header__link{
        color: var(--grey);
    }

    .header__nav--active .header__list {
        flex-direction: column;
    }

    .header__nav-wrapper {
        width: auto;
    }

    .header__row {
        display: flex;
        justify-content: space-between;
    }

    .header__logo {
        width: 75px;
        height: 22px;
        margin-bottom: 0;
    }

    .header__logo svg {
        width: 100%;
        height: 100%;
    }

    /* info */

    .intro__wrapper {
        padding-bottom: 51px;
    }

    .intro__left-wrapper {
        padding-top: 53px;
    }

    .intro__left-wrapper {
        padding-right: 0;
    }

    .intro__title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 3px;
    }

    .intro__subtitle {
        margin-bottom: 42px;
        line-height: 21px;
        max-width: 100%;
    }

    /* benefits */

    .benefits {
        padding-top: 50px;
        padding-bottom: 48px;
    }

    .benefits__image {
        display: none;
    }

    .benefits__wrapper-title {
        margin-bottom: 3px;
    }

    .benefits__information {
        flex-direction: inherit;
    }

    .benefits__information {
        margin-bottom: 30px;
        padding-right: 14px;
    }

    .benefits__content {
        padding-left: 14px;
    }

    .benefits__information:last-child {
        margin-bottom: 0;
    }

    .benefits__circle-text {
        padding-left: 32px;
        padding-top: 0;
        line-height: 19px;
    }

    /* teachers */

    .teachers {
        padding-top: 45px;
        padding-bottom: 43px;
    }

    .teachers__container {
        margin-bottom: -24px;
    }

    .teachers__card {
        padding-right: 0;
        margin-bottom: 24px;
    }

    .teachers__title {
        font-size: 18px;
        line-height: 27px;
    }

    .teachers__picture {
        margin-bottom: 26px;
    }

    /* courses */

    .courses {
        margin-bottom: 22px;
    }

    .courses__container-title {
        padding-top: 43px;
    }

    .courses__card {
        padding-right: 0;
        margin-bottom: 27px;
    }

    .courses__title-little {
        font-size: 18px;
        line-height: 23px;
        max-width: 78%;
    }

    .courses__wrapper-info {
        padding-top: 30px;
    }

    .courses__time {
        right: 14px;
    }

    .courses__subtitle {
        padding-right: 25px;
        margin-bottom: 59px;
        color: var(--grey);
        min-height: 238px;
    }

    .courses__btn {
        width: 79%;
    }

    /* footer */

    .footer__list {
        padding-left: 35px;
    }

    .footer__copy-info {
        font-size: 13px;
        padding-left: 0;
    }

    .footer__copy {
        margin-top: -2px;
    }
}