.reviews {
    
    margin-bottom: 30px;

    .swiper-wrapper {

        .pc-slide {
            display: none;

        }
    }
    
    & .swiper {
        padding-bottom: 53px;
    }
}


@media (min-width: 767px) {
    .reviews {

        .swiper-wrapper {

            .pc-slide {
                display: block;
            }

            .mob-slide {
                display: none;
                border: $myBorder;
            }
        }
    }
}